:root {

    --primary-color: #FED001;
}

html{
    font-size: 62.5%;
    font-family: "Inter", serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
}

p, a {
    font-size: 1.6rem;
}
h1{
    font-size: 4.5rem;
}

h2 {
    font-size: 4rem;
}

h3 {
    font-size: 3rem;
}

.section_title{
    padding: 7rem 0;
    text-align: center;
    margin: 0;
}

.wrapperContainer-pad {
    padding-top: 1px;
}

.hero_title {
    margin-bottom: 10rem;
}

nav a{
    color: inherit;
}

.upper{
    text-transform: uppercase;
}

.btn {
    display: inline-block;
    background-color: var(--primary-color);
    border-radius: 4px;
    font-size: 2.5rem;
    text-decoration: none;
    padding: 1.6rem 5rem;
    margin: 0;
    color: inherit;

}

.btn_section{
    margin: 4rem 0;
}


.wrapperContainer-dark{
    height: 9.5rem;
    background-color: #2A2A2A;
    color: #FAFAFA;
}

.wrapperContainer-light{
    background-color: #FAFAFA;
}

.wrapperContainer-dark2{
    /* margin-top: 1.5rem; */
    background-color: #003464;
    color: #FAFAFA;
}

.container{
    max-width: 127.6rem;
    margin: auto;
}

.header{
    
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: var(--primary-color);
}

.header_nav a{
    padding: .75em 1.15em;
    border: 1px solid;
    text-decoration: none;
}

.header_nav ul{
    display: flex;
    gap: 3.5rem;
    list-style-type: none;
}

.header_nav a:hover{
    background-color: black;
}

.heroBanner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 25rem;
}

.wrapperContainer-hero {
 
    background-image: linear-gradient(rgba(255, 255, 255, 0), rgb(238, 238, 124));
}

.cursos{
    text-align: center;
}

.cursos-container{
    display: flex;
    text-align: left;
    gap: 5rem;
}

.curso_card h3{
    font-size: 2.4rem;
}

.curso_card p{
    font-size: 1.6rem;
    line-height: 1.5;

}

.cursos_card_content{
    padding: 1rem;
    border: 1px solid rgb(206, 206, 206);
    border-radius: 0 0 8px 8px;
    border-top: transparent;
    /* overflow: hidden; */
    flex: 1;
   
}

/* .curso_card {
    border: 1px solid rgb(206, 206, 206);
    border-radius: .88rem;
    /* overflow: hidden; */
    /* flex: 1; */


.curso_card img {
    display: block;
    width: 100%;
}

.escola {
    display: flex;
    gap: 10rem;
    align-items: center;
    

}


.titulo_escola{
    font-size: 3.2rem;
}

.escola {
    font-size: 1.8rem;
    line-height: 1.7rem;
}

.footer{
    text-align: center;
    padding: 2rem;
    background-color: #2A2A2A;
    font-size: 2rem;
    color: white;
    margin-top: 8rem ;


}

.footer a{
    /* text-decoration: none; */
    color: white;
    text-transform: uppercase;
}